:root{
    --ff1 : 'Oswald', sans-serif;
    --ff2 : 'Open Sans', sans-serif;
    --brand : #e23e38;
    --cl1 : #353535;
    --details : #777777;
    --twit : #1da1f2;
    --over6 : rgba(0, 0, 0, 0.6);
    --over8 : rgba(0, 0, 0, 0.8);
    --over9 : rgba(0, 0, 0, 0.9);
    --overred : rgba(226, 62, 56, 0.5);
    --bg1 : #dddddd;
    --bg2 : #f1f1f1;
}

*{
    padding : 0;
    margin : 0;
}

a{
    text-decoration : none;
}

img{
    vertical-align : middle;
}

ul{
    list-style : none;
}


/*==== common css ends ====*/

.osw-reg{
    font-family : var(--ff1);
    font-weight : 400;
}

.osw-med{
    font-family : var(--ff1);
    font-weight : 500;
}

.osw-bold{
    font-family : var(--ff1);
    font-weight : 700;
}

.open-reg{
    font-family : var(--ff2);
    font-weight : 400;
}

.fs-13{
    font-size : 13px;
}

.fs-14{
    font-size : 14px;
}

.fs-16{
    font-size : 16px;
}

.fs-22{
    font-size : 22px;
}

.fs-29{
    font-size : 29px;
}

.fs-30{
    font-size : 30px;
}

.fs-40{
    font-size : 40px;
}

.fs-50{
    font-size : 50px;
}

.fs-60{
    font-size : 60px;
}


/*==== font css ends ====*/

.section-head h3{
    color: var(--cl1);
}

.section-head img{
    margin-top: -5px;
}


/*==== section header css ends ====*/

.navbar{
    background: rgba(53, 53, 53, 0.25);
    top: 30px; 
    z-index: 99999;
}

.navbar .navbar-brand{
    background: rgba(241, 241, 241, 0.2);
    padding: 10px 30px !important;
    position: absolute;
    transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
}

.navbar .navbar-brand img{
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    -o-transform: skewX(35deg);
}

.navbar-light .navbar-nav .nav-link{
    line-height: 50px;
    padding: 0 10px;
    position: relative;
    color: #fff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--cl1);
}

.navbar-light .navbar-nav .nav-link::before{
    content: '';
    width: 100%;
    height: 0%;
    background: #fff;
    position: absolute;
    inset: 0;
    z-index: -2;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-link.active::before{
    height: 100%;
}

.navbar-light .navbar-nav .nav-link:hover:before{
    height: 100%;
}

.navbar-light .navbar-nav .nav-link::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--brand);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-link.active::after{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover:after{
    width: 100%;
}


/*==== navbar css ends ====*/

#banner .banner-item{
    position: relative;
    z-index: 1;
    padding-top: 250px;
    padding-bottom: 115px;
}

#banner .banner-item::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--over6);
    position: absolute;
    inset: 0;
    z-index: -1;
}

#banner .banner-item h1{
    color: var(--brand);
    padding-top: 10px;
    margin-bottom: 20px !important;
}

#banner .bg1 p{
    padding: 0 50px;
}

#banner .banner-item .cta-btn{
    margin-top: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#banner .banner-item .cta-btn:hover{
    background: var(--brand);
    border-color: var(--brand);
}

#banner .banner-item .cta-btn:first-of-type{
    margin-right: 26px;
}

#banner .bg1{
    background: url(../images/banner1.jpg) no-repeat center / cover;
}

#banner .bg2{
    background: url(../images/banner2.jpg) no-repeat center / cover;
}

#banner .bg3{
    background: url(../images/banner3.jpg) no-repeat center / cover;
}

#banner .bg1 h4::before{
    content: '';
    width: 165px;
    height: 3px;
    background: var(--brand);
    position: absolute;
    left: 35px;
    top: 20px;
}

#banner .bg1 h4::after{
    content: '';
    width: 115px;
    height: 3px;
    background: var(--brand);
    position: absolute;
    right: 35px;
    top: 20px;
}

#banner .bg1 h1::before{
    content: '';
    width: 3px;
    height: 200px;
    background: var(--brand);
    position: absolute;
    left: 35px;
    top: -15px;
}

#banner .bg1 h1::after{
    content: '';
    width: 3px;
    height: 200px;
    background: var(--brand);
    position: absolute;
    right: 35px;
    top: -15px;
}

#banner .bg1 p::before{
    content: '';
    width: 75px;
    height: 3px;
    background: var(--brand);
    position: absolute;
    left: 35px;
    bottom: -44px;
}

#banner .bg1 p::after{
    content: '';
    width: 45px;
    height: 3px;
    background: var(--brand);
    position: absolute;
    right: 35px;
    bottom: -44px;
}

#banner .slick-dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 14px;
    padding-left: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#banner .slick-dots li{
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

#banner .slick-dots li.slick-active{
    background-color: var(--brand);
    border-color: var(--brand);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#banner .slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
}


/*==== banner css ends ====*/

#about{
    padding-top: 80px;
    padding-bottom: 80px;
}

#about .about-image .about-overlay{
    background: var(--over6);
}

#about .about-image .about-overlay i{
    width: 48px;
    height: 48px;
    background: var(--brand);
    color: var(--cl1);
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#about .about-details p{
    line-height: 24px;
    color: var(--details);
    padding: 0 55px;
}

#about .about-details p:first-of-type{
    padding-top: 15px;
    padding-bottom: 35px;
}


/*==== about css ends ====*/

#gallery{
    padding-bottom: 80px;
}

#gallery  .gallery-bg{
    background: url(../images/gallery-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding-top: 30px;
    margin-top: 25px;
}

#gallery  .gallery-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--over8);
    position: absolute;
    inset: 0;
    z-index: -1;
}

#gallery  .gallery-bg .gallery-item{
    margin-bottom: 30px;
}

#gallery  .gallery-bg .gallery-item .gallery-overlay{
    background: var(--overred);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#gallery  .gallery-bg .gallery-item:hover .gallery-overlay{
    visibility: visible;
    opacity: 1;
}

#gallery  .gallery-bg .gallery-item .gallery-overlay i{
    color: #fff;
    font-size: 30px;
}


/*==== gallery css ends ====*/

#team{
    padding-bottom: 80px;
}

#team .team-member{
    margin-top: 65px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#team .team-member:hover{
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
#team .team-member:hover .card{
    border: 1px solid #dddddd !important;
}

#team .team-member .team-image .team-overlay{
    background: var(--overred);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#team .team-member:hover .team-image .team-overlay{
    visibility: visible;
    opacity: 1;
}

#team .team-member .team-image .team-overlay a{
    margin-bottom: 10px;
    margin-right: 10px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#team .team-member .team-image .team-overlay a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
}

#team .team-member .team-image .team-overlay a:hover i{
    color: var(--twit);
}

#team .team-member .card-text{
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#team .team-member:hover .card-text{
    visibility: visible;
    opacity: 1;
}


/*==== team css ends ====*/

#testimonial{
    padding-bottom: 80px;
}

#testimonial .testimonial-bg{
    background: url(../images/testimonial-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 80px;
}

#testimonial .testimonial-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--over8);
    position: absolute;
    inset: 0;
    z-index: -1;
}

#testimonial .testimonial-bg .testimonial-details .ratings i{
    color: var(--brand);
    font-size: 14px;
}

 #testimonial .testimonial-bg .testimonial-item{
    margin-right: 30px;
}

/* #testimonial .testimonial-bg .testimonial-item:last-of-type{
    margin-right: 0;
} */

#testimonial .testimonial-bg .testimonial-text p{
    padding-right: 25px;
    padding-top: 10px;
} 

#testimonial .slick-dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -60px;
    padding-left: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#testimonial .slick-dots li{
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

#testimonial .slick-dots li.slick-active{
    background-color: var(--brand);
    border-color: var(--brand);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#testimonial .slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
}


/*==== testmonial css ends ====*/

#membership{
    padding-bottom: 80px;
}

#membership .member-item{
    margin-top: 25px;
}

#membership .member-item .member-header h4{
    background:var(--bg1);
    color: var(--cl1);
    line-height: 54px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#membership .member-item:hover .member-header h4{
    background: var(--brand);
    color: #fff;
}

#membership .member-price .member-overlay{
    background: var(--over8);
}

#membership .member-item .member-features{
    background: var(--bg2);
    padding-top: 35px;
    padding-bottom: 35px;
}

#membership .member-item .member-features ul li{
    color: #555555;
    margin-bottom: 22px;
}

#membership .member-item .member-features ul li:last-child{
    margin-bottom: 0;
}

#membership .member-item .member-btn a{
    background: var(--bg1);
    color: var(--cl1);
    line-height: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#membership .member-item:hover .member-btn a{
    background: var(--brand);
    color: #fff;
}


/*==== membership css ends ====*/

#funfact{
    padding-bottom: 80px;
}

#funfact .funfact-bg{
    background: url(../images/count-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1; 
    padding-top: 40px;
    padding-bottom: 40px;
}

#funfact .funfact-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--over8);
    position: absolute;
    inset: 0;
    z-index: -1;
}


/*==== funfact css ends ====*/

#routine{
    padding-bottom: 80px;
}

#routine .routine-nav{
    margin-top: 25px;
}

#routine .nav-tabs .nav-item.show .nav-link,
#routine .nav-tabs .nav-item .nav-link:hover,
 .nav-tabs .nav-link.active{
    border-color: transparent !important;
 }

 #routine .nav-tabs .nav-item{
     width: 16.6%;
 }

 #routine .nav-tabs .nav-item .nav-link{
     background: #f1f1f1;
     line-height: 50px;
     color: var(--cl1);
 }

#routine .nav-tabs .nav-link.active{
    background: var(--brand);
    color: white;
}

#routine .main-routine{
    margin-top: 30px;
}

#routine .main-routine ul li{
    width: 20%;
    background: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: scale(.96);
    -webkit-transform: scale(.96);
    -moz-transform: scale(.96);
    -ms-transform: scale(.96);
    -o-transform: scale(.96);
}

#routine .main-routine ul li.active{
    background: var(--brand);
    color: white;
}


/*==== routine css ends ====*/

#brand{
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
}

#brand .brand-item{
    margin: 0 15px;
}

#brand .slick-list{
    padding: 5px !important;
}

#brand .brand-item.slick-center{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#brand .prev-arrow{
    color: var(--cl1);
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    z-index: 999;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

#brand .prev-arrow:hover{
    color: var(--brand);
}

#brand .next-arrow{
    color: var(--cl1);
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    z-index: 999;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

#brand .next-arrow:hover{
    color: var(--brand);
}


/*==== brand css ends ====*/

footer{
    background:url(../images/footer-bg.jpg) no-repeat center / cover;
    position:relative;
    z-index:1;
}
footer::after{
    content:'';
    width:100%;
    height:100%;
    background:var(--over8);
    position: absolute;
    inset:0;
    z-index:-1;
}
footer .footer-logo{
    padding-top:30px !important;
    margin-bottom:57px !important;
}
footer .footer-main{
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    padding-bottom:30px;
}

footer  .footer-item ul{
    margin-top:30px;
}
footer  .footer-item  .opening-hours ul li{
    margin-bottom:4px !important;
}
footer  .footer-item .opening-hours ul li:last-of-type{
    margin-bottom:0px !important;
}
footer  .footer-item .opening-hours ul li span{
    display:inline-block;
    width:110px;
}
footer  .footer-item .twitter-feed ul li{
    position:relative;
    margin-bottom:20px !important;
    padding-left:20px;
}
footer  .footer-item .twitter-feed ul li:last-child{
    margin-bottom:0 !important;
}
footer  .footer-item .twitter-feed ul li .icon{
    position:absolute;
    top:0;
    left:0;
}
footer  .footer-item .twitter-feed ul li .icon i{
    color:#1da1f2;
}
footer  .footer-item .photos li{
    width:25%;
    padding:5px;
}
footer  .footer-item .photos li img{
    width:100%;
}
footer  .footer-item .footer-contact ul li{
    position:relative;
    margin-bottom:10px !important;
    padding-left:25px;
}
footer  .footer-item .footer-contact ul li:last-child{
    margin-bottom:0 !important;
}
footer  .footer-item .footer-contact ul li .contact-icon{
    position:absolute;
    top:0;
    left:0;
}
footer  .footer-item .footer-contact ul li .contact-icon i{
    color:var(--brand);
}
footer  .footer-item  h5{
    margin-top:30px;
    margin-bottom:30px !important;
}
footer  .footer-item .footer-social a.btn{
    margin-right:8px;
    transition:all linear 0.4s;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
    -ms-transition:all linear 0.4s;
    -o-transition:all linear 0.4s;
}
footer  .footer-item .footer-social a.btn:last-of-type{
    margin-right:0;
}
footer  .footer-item .footer-social a.btn:hover{
    background:var(--brand);
    color:#fff;
    border-color:var(--brand);
}
footer  .footer-item .footer-social a.btn:focus{
    box-shadow:none !important;
}
footer  .footer-item .footer-social i{
    width: 30px;
    height: 30px;
    line-height:30px;
    text-align:center;
}
footer  .footer-copy .copyright p{
    line-height:53px;
}
footer  .footer-copy .copyright p a{
    color:var(--brand);
    margin-left:5px;
}


/*==== footer css ends ====*/